.sidebar {
	// max-width: span(4 right);
	@include span(3 last);
	background-color: $lightergrey;
	@include breakpoint(medium) { 
		clear:both;
		width:100%
	}
}
.sidebar aside {
	margin-bottom: $gutter;
}
.feature {
	padding: $padding 0;
	margin:0;
	//margin-top: $gutter*3;
	text-transform: uppercase;
	font-size: 80%;
	border-bottom: 1px solid $primary;
	@include breakpoint(large) { 
		margin-top: $gutter*2;
	}
	a {
		display: block;
		width: 100%;
		float: left;
		clear: both;
		margin-bottom: $padding;
	}
	h2 {
		margin-top: .45em;
		@include breakpoint(large) { 
			margin-top: .8em;
		}
	}
	h3 {
		letter-spacing: 1px;
		margin-bottom: 0em;
		font-size: 95%;
		margin-top: 0;
		float: left;
		max-width: 70%;
		display: block;
	}
	time {
		float: right;
		max-width: 30%;
		display: block;
	}
}
.reallign {
}