.site-footer {
	position: relative;
	.centre-wrapper {
		@include container($xlarge);
	}
	img {
		max-width: 10em;
		background-color: white;
		margin:$padding;
		float:left;
	}
	h3 {
		clear:none;
		color:white;
		border-bottom: 1px solid;
		display: inline-block;
		margin-top:0;
	}
}

.site-footer 
nav.footer-nav {
	@include span(6);
}
.site-footer address {
	@include span(4 last);
}

.site-info {
	display:block;
	margin-top:$gutter*2;
	@include h-text;
	background: rgba(255, 255, 255, 0.29) url("images/crown.png")no-repeat right;
	// box-shadow: 0 0 50px $grey;
	clear:both;
	float:right;
	padding:$padding;
	height:10em;
	width:100%;
	text-align: right;
	color:$black;
	margin-bottom:$gutter*3;
	position: relative;
	span {
		text-align: left;
		float:left;
		width:100%;
	}
}
address {
	margin-top: 0;
	color:white;
	text-align:right;
		@include breakpoint(medium) { 
		width:100%;
		float:left;
		text-align:left;
		margin-top: $gutter;
	}
}

.footer-nav {
	ul {
		columns:2;
		margin:0;
		@include h-text;
		@include breakpoint(medium) { 
			width:100%;
		}
	}
	li {
		margin-right: $gutter;
		a {
			text-decoration: none;
			border:none;
		}
		@include breakpoint(medium) { 
			margin-right:$gutter*2;
		}
		@include breakpoint(small) { 
			margin-right:$gutter;
		}
	}
}

