.site-header {
	position: relative;
	margin-bottom: $gutter;
	padding-bottom: $gutter;
	@include breakpoint(medium) { 
		padding-top: $gutter;
	}
	@include breakpoint(small) { 
		padding-top: 0;
		padding-bottom: 0;
	}
}

.site-branding {
	@include span (3);
	float:left;
	@include breakpoint(small) { 
		clear:both;
		@include span (3);
		position: relative;
		top:$gutter;
	}	
}
.site-title {
	border:none;
	width:100%;
	margin-bottom: 0;
	// font-size: 3em;
	margin-top:$padding;
	@include breakpoint(medium) { 
		
	}
	a {
		border:none
	}
	img {
		width:5.5em;
		max-width: none;
		// @include span(7 before);
		// 	@include breakpoint(medium) { 
		// 		max-width: 100%;
		// 		width:2.25em;
		// 	}
	}
	@include breakpoint(medium) { 
		margin-top:0;
	}
	@include breakpoint(small) { 
		margin-bottom: 1em;
	}
}